.MobileSection5 {
    display: flex;
    height: 700px;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;;
        width: 900px;
        height: inherit;

        img.recommendation {
            max-width: 320px;
            min-width: 280px;
            width: 80vw;
            opacity: 0;
            transform: translateY(20vh);
            visibility: hidden;
            transition: opacity 1200ms ease-out, transform 600ms ease-out,
                visibility 1200ms ease-out;
            will-change: opacity, transform, visibility;
        }
        img.isVisible {
            opacity: 1;
            transform: none;
            visibility: visible;
        }

        .textBlock {
            margin-top: 40px;

            h1 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 20px;
                line-height: 120%;
                text-align: center;
            }

            p {
                font-size: 14px;
                margin-bottom: 20px;
                line-height: 150%;
                text-align: center;
            }
        }

    }
}