.DesktopSection5 {
    display: flex;
    height: 450px;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 900px;
        height: inherit;

        img.recommendation {
            width: 450px;
            order: 1;
            opacity: 0;
            transform: translateY(20vh);
            visibility: hidden;
            transition: opacity 1200ms ease-out, transform 600ms ease-out,
                visibility 1200ms ease-out;
            will-change: opacity, transform, visibility;

        }
        img.isVisible {
            opacity: 1;
            transform: none;
            visibility: visible;
        }
        .textBlock {
            margin: 20px;
            white-space: nowrap;

            h1 {
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 20px;
                line-height: 120%;
            }

            p {
                font-size: 16px;
                margin-bottom: 20px;
                line-height: 200%;
            }
        }

    }
}