.DesktopLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 900px;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 460px;

        img.bigLogo {
            width: 240px;
            margin-bottom: 44px;
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: inherit;

            input {
                height: 48px;
                width: inherit;
                margin-bottom: 18px;
            }

            .chackBoxSection {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: inherit;

                button {
                    padding: 0em;
                    border: none;
                    height: 0;

                    img {
                        cursor: pointer;
                    }
                }

                span {
                    display: flex;
                }
            }

            button.logIn {
                position: relative;
                font-size: 16px;
                align-items: center;
                justify-content: center;
                border-radius: 0;
                cursor: pointer;
                font-weight: bold;

                height: 52px;
                width: inherit;
                margin-bottom: 20px;
                color: white;
                border: #30d8a1;
                background-color: #30d8a1;

            }

            // button:hover::before {
            //     content: "";
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 100%;
            //     background-color: rgba(0, 0, 0, 0.07);
            // }
        }

        .joinSection {
            display: flex;
            justify-content: center;
            align-items: center;
            width: inherit;
            margin-bottom: 40px;

            span {
                margin: 0 10px;
            }
        }

        div {
            margin-bottom: 20px;
        }

        input {
            border: 1px solid lightgray;
        }

        input::placeholder {
            color: gray;
            font-size: 16px;
        }

        .footerSection {
            display: flex;
            justify-content: center;

            img {
                margin-right: 30px;
            }
        }
    }
}