.DesktopLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 900px;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 460px;

        img.bigLogo {
            width: 240px;
            margin-bottom: 44px;
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: inherit;

            input {
                height: 48px;
                width: inherit;
                margin-bottom: 20px;
            }

            .chackBoxSection {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: inherit;

                span {
                    display: flex;
                }
            }

            button.logIn {
                height: 52px;
                width: inherit;
                margin-bottom: 20px;
            }
        }

        .joinSection {
            display: flex;
            justify-content: center;
            align-items: center;
            width: inherit;
            margin-bottom: 40px;
            span {
                margin: 0 10px;
            }
        }

        div {
            margin-bottom: 20px;
        }

        input {
            border: 1px solid lightgray;
        }

        input::placeholder {
            color: gray;
            font-size: 16px;
        }

        .footerSection{
            display: flex;
            justify-content: center;

            img{
                margin-right: 30px;
            }
        }
    }
}