.MobileSection2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    background-color: white;

    .container1 {
        display: block;
        margin-bottom: 40px;

        h1 {
            font-size: 25px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 14px;
            color: gray;
        }
    }

    .container2 {
        display: grid;
        grid-template-columns: repeat(2, 180px);
        grid-template-rows: repeat(3, 80px);
        gap: 30px 20px;
        opacity: 0;
        transform: translateY(20vh);
        visibility: hidden;
        transition: opacity 1200ms ease-out, transform 600ms ease-out,
            visibility 1200ms ease-out;
        will-change: opacity, transform, visibility;

        div {
            margin-bottom: 16px;
            font-size: 20px;
            color: gray;

        }

        .number {
            font-size: 30px;
            font-weight: bold;
            color: rgb(22, 64, 125)
        }


    }
    .container2.isVisible {
        opacity: 1;
        transform: none;
        visibility: visible;
    }
}