.DesktopSection1 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    height: 300px;
    gap: 30px 25px;

    figure {
        justify-content: center;
        width: 200px;
        img {
            width: 140px;
        }
        figcaption {
            
        }
    }
}